
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-angle-right:before { content: '\e806'; } /* '' */
.icon-right-open:before { content: '\e807'; } /* '' */
.icon-left-open:before { content: '\e808'; } /* '' */
.icon-left-open-big:before { content: '\e809'; } /* '' */
.icon-right-open-big:before { content: '\e80a'; } /* '' */
.icon-right-dir:before { content: '\e80b'; } /* '' */
.icon-about:before { content: '\e80c'; } /* '' */
.icon-location-1:before { content: '\e810'; } /* '' */
.icon-contact:before { content: '\e817'; } /* '' */
.icon-work:before { content: '\e818'; } /* '' */
.icon-expand:before { content: '\e819'; } /* '' */
.icon-close:before { content: '\e81a'; } /* '' */