.social-icon-list li {
  position: relative;
  margin: auto 10px;
  display: inline-block;
  background: slate-blue-color;
}
.social-icon-list li:hover {
  background: highlight-color;
}
.social-icon-list li a {
  color: #fff;
  border: none;
}
.button {
  background-color: slate-blue-color;
  border-color: transparent;
  padding: 10px;
  color: #ebebeb;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.button:hover {
  color: #fff;
  background: highlight-color;
}
div.button {
  color: #fff;
  margin-bottom: -50px;
}
div.button .icon-button {
  display: inline;
  font-size: 18px;
}
div.button:hover .icon-button {
  cursor: pointer;
}
div.button .button-label {
  color: #fff;
}
div.button .icon-expand,
div.button .icon-close {
  color: #fff;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px), (max-width: 768px) {
  .button {
    text-align: center;
  }
}
