background-texture()
	background url('../images/bkg.png')

border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

align-center()
	align(direction = both)
	-webkit-transform translate(-50%, -50%)
	-moz-transform translate(-50%, -50%)
	-o-transform translate(-50%, -50%)

box(n)
	height n
	width n